# In repository we don't need to have:

# Output Directories
output-*

# Generated MOC, resource and UI files
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile
Makefile.*

# .log files (usually created by QtTest - thanks to VestniK)
*.log

# Windows-specific files
Thumbs.db
desktop.ini

# Mac-specific things (thanks to Michael Aaron Safyan)
.DS_Store

# Editors temporary files 
*~