#define VER_FILEVERSION             5,0,0,0
#define VER_FILEVERSION_STR         "5.0.0\0"

#define VER_PRODUCTVERSION          5,0,0,0
#define VER_PRODUCTVERSION_STR      "5.0.0\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

1 ICON "img/bsc.ico"

1 VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK 0x17L
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "NasuTek Enterprises"
			VALUE "FileDescription",  "NasuTek Commander Main Executable"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     "nc"
            VALUE "LegalCopyright",   "Copyright © 2011 NasuTek Enterprises"
            VALUE "OriginalFilename", "nc.exe"
            VALUE "ProductName",      "NasuTek Commander"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
